<table>				
<% @product.each do |pro| %>
<tr>
  <td >
    <div >   
       <%= image_tag pro.images.last.photo.url(:small) unless pro.images.empty? %>
    </div >
  </td>
  <td style='width:70%;'>
  <span class='ttl'>
    <%= link_to pro.title, pro %>
  </span>
  <span class='dt'>
    <%= link_to pro.category.param_name, pro.category unless pro.category.nil? %>
  </span><br> 
  <span class='dt'>
    <%= rus_date(pro.created_at.to_s) %>
  </span>	  
  </td>
  <td style='width: 18%;'>
	<b><%= pro.price %> руб</b> <br /> 
      <span class='dt'>
        <%= pro.city.param_name unless pro.city.nil? %>
      </span> 
  </td>
  <% if !current_user.nil? %>
    <% if current_user.admin? %>
  <td>
    <%= link_to "Изменить", :controller => :products, :action => :edit, :id => pro.id %>
  </td>					 
  <td>
    <%= link_to "Удалить", pro, :method  => :delete, 
                                :confirm => "Вы уверены?",
                                :title   => "Удалить #{pro.title}" %>
  </td>					 
	<% end %> 
  <% end %>
</tr>
<% end %>
</table>
