<div class="field">
 <%= i.label :title, 'Название:' %> <br />
 <%= i.text_field :title %>
</div>
<div class="field">
 <% if i.object.new_record? %>
   <%= i.label :email, 'Email:' %> <br />                          
   <% unless current_user.nil? %>
       <%= i.text_field :email, :value => "#{current_user.email}"  %>   
   <% else %>
       <%= i.text_field :email %>
   <% end %>
 <% end%>		 
</div>
<div class="field">
 <%= i.label :phone, 'Телефон:' %> <br />
 <%= i.text_field :phone %>
</div>
<div class="field">
    <%= i.grouped_collection_select(:category_id, Category.where(:category_id => nil), :child, :param_name, :id, :param_name, { :include_blank => 'Без категории' }) %>
</div>
<div class="field">
 <%= i.select('city_id', City.all.collect {|p| [ p.param_name, p.id ]}, { :include_blank => 'Без категории' }) %>
</div>
<div class="field">
 <%= i.label :price, 'Стоимость:' %> <br />
 <%= i.text_field :price %>
</div>
<div class="field">
 <%= i.label :content, 'Описание:' %> <br />
 <%= i.text_area :content %>
</div>
  <p>
  <label>Добавить изображение</label> <br />
    <%= render :partial => 'images/form', :locals => { :i => i } %>
  </p>
