<%= @product.city_id.nil? ? 'Все города' : @product.city.param_name %> 
<%= @product.category.nil? ? '' : '> '+@product.category.parent.param_name %>
<%= @product.category.nil? ? '' : '> '+@product.category.param_name %>
<div class="ctrl">
<span><%= link_to 'Назад', root_path %> | <%= link_to 'Редактировать', edit_product_path(@product) %>
<% if !current_user.nil? and current_user.admin? %>    |
<%= link_to 'Удалить', @product, :method => :delete,
                                 :confirm => 'Вы уверены?',
                                 :title => "Удалить #{@product.title}?" %><% end %></span>
</div>
<h2><%= @product.title %></h2>
<hr>
<%= @product.content %>
<%= @product.price %>
<%= @product.phone %> 
<span style='float:right;'>
<%= @product.user.login unless @product.user.nil? %> •		
<%= link_to 'Еще', all_product_path(@product) %>
</span><br />
<% @product.images.each  do |image| %>
    <%= image_tag image.photo.url(:small) %> 
<% end %>    
